/* MAIN ELEMENTS */

li {
  list-style: none;
}

/* CLASSES */
.background-image {
  background-image: url(./images/pic_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-link {
  color: #FFF;
  text-decoration: none;
}

.navbar {
  position: relative;
}
.navbar-brand {
  position: absolute;
  left: 50%;
  transform:translateX(-50%)
}
