/* FONT FACES */

@font-face {
  font-family: SourceSansPro-Regular;
  src: url(./images/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: SourceSansPro-Black;
  src: url(./images/SourceSansPro-Black.otf);
}

@font-face {
  font-family: SourceSansPro-BlackIt;
  src: url(./images/SourceSansPro-BlackIt.otf);
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url(./images/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: SourceSansPro-BoldIt;
  src: url(./images/SourceSansPro-BoldIt.otf);
}

@font-face {
  font-family: SourceSansPro-ExtraLight;
  src: url(./images/SourceSansPro-ExtraLight.otf);
}

@font-face {
  font-family: SourceSansPro-ExtraLightlt;
  src: url(./images/SourceSansPro-ExtraLightIt.otf);
}

@font-face {
  font-family: SourceSansPro-It;
  src: url(./images/SourceSansPro-It.otf);
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url(./images/SourceSansPro-Light.otf);
}

@font-face {
  font-family: SourceSansPro-Lightlt;
  src: url(./images/SourceSansPro-LightIt.otf);
}

@font-face {
  font-family: SourceSansPro-Semibold;
  src: url(./images/SourceSansPro-Semibold.otf);
}

@font-face {
  font-family: SourceSansPro-Semiboldlt;
  src: url(./images/SourceSansPro-SemiboldIt.otf);
}

/* MAIN ELEMENTS */

:root {
  --color-dark: #071629;
}

body {
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

.banner-section {
  height: 1386px;
}

footer {
  background-color: #071629;
  margin: auto;
}

/* CLASSES */

.background-image {
  background-color: #071629;
  background-image: url(./images/pic_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
}

.nav-link {
  color: #FFF;
  text-decoration: none;
}

.navbar {
  position: relative;
}

.navbar-toggler {
  border: none;
}

.nav-brand-md {
  display: none;
}

#navbar-brand-sm {
  position: absolute;
  left: 50%;
  transform:translateX(-50%)
}

#page-title {
  font-family: SourceSansPro-Bold;
  margin-top: 10rem;
}

#banner-section {
  font-family: SourceSansPro-Regular;
}

.livelaughlove {
  max-width: 300px;
  margin: 0 auto; /* Center the column horizontally if needed */
}

.pros {
  /* margin: 8rem 0; */
}

.card1 img {
  width: 150px;
  margin: 1rem;
}

.card1 h3 {
  font-family: SourceSansPro-Bold;
  font-size: 18px;
}

.card1 p {
  font-style: italic;
  font-size: 16px;
  font-family: SourceSansPro-Light;
}

.purp-carousel {
  background-color: #C271FF;
}

.videos1 img {
  border-radius: 50%;
}

.purple-quote {
  text-align: start !important;
}

@media (min-width: 768px) {
  /* styles to apply when viewport width is tablet or larger screen */

  #page-title {
    font-size: 90px !important;
  }

  #navbar-brand-sm img {
    display: none;
  }

  .nav-brand-md {
    display: flex;
    flex-direction: row;
  }
}